html,body{
  margin: 0 auto;
  background: rgb(29, 29, 29);
  color: rgb(226, 226, 226);
  font-size: 0.35rem;
}
a{
  text-decoration: none 
}
  input[type=text]:focus {
    outline: none;
}
/* 隐藏滚动条 */
.outer-container::-webkit-scrollbar {
  width: 0; /* 设置滚动条的宽度为0 */
  background-color: transparent; /* 设置滚动条背景为透明 */
}

/* 自定义滚动条轨道样式 */
.outer-container::-webkit-scrollbar-track {
  background-color: transparent; /* 设置滚动条轨道背景为透明 */
}

/* 自定义滚动条滑块样式 */
.outer-container::-webkit-scrollbar-thumb {
  background-color: transparent; /* 设置滚动条滑块背景为透明 */
}
